In [2]:
import pandas as pd

In [3]:
data  = pd.read_csv("ljic219b15.20_.ismr",header=None)
data

,0,1,2,3,4,5,6,7,8,9,...,52,53,54,55,56,57,58,59,60,61
0,2117,350160,10,630,3.0,26.0,41.8,0.097,0.082,0.035,...,0.028,-9.506,0.127,2850,0.017,1.593,1.53,0.000147,0.000102,0.000061
1,2117,350160,12,630,61.0,14.0,40.5,0.147,0.094,0.032,...,nan,nan,nan,nan,nan,nan,nan,0.000128,0.000536,nan
2,2117,350160,18,630,169.0,64.0,49.0,0.043,0.036,0.013,...,0.017,-26.416,0.029,13210,0.006,0.609,1.51,0.000019,0.000018,0.000006
3,2117,350160,20,630,38.0,49.0,47.2,0.040,0.044,0.015,...,nan,nan,nan,nan,nan,nan,nan,0.000030,nan,nan
4,2117,350160,21,630,304.0,36.0,45.9,0.045,0.051,0.017,...,nan,nan,nan,nan,nan,nan,nan,0.000033,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,2117,351000,162,630,46.0,28.0,43.9,0.105,0.064,0.021,...,nan,nan,nan,nan,nan,nan,nan,0.000058,nan,nan
493,2117,351000,164,630,223.0,27.0,45.6,0.107,0.052,0.018,...,nan,nan,nan,nan,nan,nan,nan,0.000048,nan,nan
494,2117,351000,166,630,269.0,71.0,52.7,0.025,0.023,0.013,...,nan,nan,nan,nan,nan,nan,nan,0.000021,nan,nan
495,2117,351000,174,630,274.0,11.0,38.6,0.163,0.118,0.038,...,0.034,-5.839,0.153,1819,0.030,2.686,1.45,0.000153,nan,0.000075
496,2117,351000,175,630,160.0,31.0,46.5,0.095,0.047,0.019,...,nan,nan,nan,nan,nan,nan,nan,0.000055,nan,nan

Columns 0 & 1 : GPS week number & time of week(seconds). There are many epochs and for each epoch there are many PRNs.

In [4]:
date = pd.read_csv("ljic219b15.20_.ismr",usecols=[0,1],squeeze=False, header=None, nrows=3)
date

      0       1
0  2117  350160
1  2117  350160
2  2117  350160

Column 2: SVID (Refer to 'PolaRx5s Reference Guide' to see the meaning)

In [5]:
svid = pd.read_csv("ljic219b15.20_.ismr",usecols=[2],squeeze=False, header=None)
svid

       2
0     10
1     12
2     18
3     20
4     21
..   ...
492  162
493  164
494  166
495  174
496  175

[497 rows x 1 columns]

In [26]:
# Determine the PRN
def get_PRN(svid):
    if 1<=svid<=37:
        prn = "G"+str(svid)
    elif 38<=svid<=61:
        prn = "R"+str(svid-37)
    elif svid==62:
        prn = "NA"
    elif 63<=svid<=68:
        prn = "R"+str(svid-38)
    elif 71<=svid<=106:
        prn = "E"+str(svid-70)
    elif 107<=svid<=119:
        prn = "NA"
    elif 120<=svid<=140:
        prn = "S"+str(svid-100)
    elif 141<=svid<=177:
        prn = "C"+str(svid-140)
    elif 181<=svid<=187:
        prn = "J"+str(svid-180)
    elif 191<=svid<=197:
        prn = "I"+str(svid-190)
    elif 198<=svid<=215:
        prn = "S"+str(svid-157)
    elif 216<=svid<=222:
        prn = "I"+str(svid-208)
    else:
        prn = "svid not valid!"
    
    return prn

In [33]:
test = get_PRN(225)
test

'svid not valid!'